.toolbar{
    position: fixed;
    background: #521751;
    width: 100%;
    top: 0;
    left: 0;
    height: 56px;
}
.toolbar-logo a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5rem;
}
.toolbar-navigation{
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 1rem;
}
.toolbar-navigation-items a{
    color: white;
    text-decoration: none;
}
.toolbar-navigation-items li{
  padding: 0 .5rem;
}
.toolbar-logo{
    margin-left: 1rem;
}
.spacer{
    flex: 1;
}
.toolbar-navigation-items ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.toolbar-navigation-items a:hover,
.toolbar-navigation-items a:active{
    color: #fa923f;
}
@media (max-width: 768px) {
    .toolbar-navigation-items{
        display: none;
    }
}
@media (min-width: 768px) {
    .toolbar-toggle-button{
        display: none;
    }
    .toolbar-logo{
        margin-left: 0;
    }
}